@model SHOP_IPHONE.Models.ResetPasswordViewModel
<h2>Đặt lại mật khẩu</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.NewPassword)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)

    <button class="btn btn-success mt-2">Đổi mật khẩu</button>
}
